<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Відновлення паролю</title>
    <link rel="icon" href="{{ url_for('static', filename='photos/icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="background"></div>
<div class="container">
    <div class="logo">
        <img src="{{ url_for('static', filename='photos/logo.png') }}" alt="Starcourt Mall Logo">
    </div>
    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <form class="login-form" method="POST" action="/forgot_password">
        <h2 class="neon-text">Відновлення паролю</h2>
        <div class="form-group">
            <input type="text" id="login" name="login" required autocomplete="off">
            <label for="login">Ім'я користувача</label>
        </div>
        <button type="submit">Отримати пароль</button>
        <p class="back-link"> <a href="/login">Повернутись до входу</a></p>
    </form>


</div>
<script>
</script>
</body>
</html>
